<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form method="POST" action="/register">
        <label for="txtNombre">Nombre:</label>
        <input type="text" id="txtNombre" name="txtNombre" required>
        <br>

        <label for="txtEmail">Correo:</label>
        <input type="email" id="txtEmail" name="txtEmail" required>
        <br>

        <label for="txtPassword">Contraseña:</label>
        <input type="password" id="txtPassword" name="txtPassword" required>
        <br>

        <input type="submit" value="Registrarse">
    </form>

    <p>¿Ya tienes una cuenta? <a href="/">Iniciar sesión</a></p>
</body>
</html>
