<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unAgenda - Horario</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{{url_for('static', filename='styles/scheduleStyle.css')}}">

    <script src="static/js/gestorHorario.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>

<body>

    <div class = "mainContainer">   <!-- Contiene a todo el código, dado que es el header el que contiene el fondo de pantalla. Si se coloca alguna división después de esta, aparecerá -->
                                    <!-- debajo del fondo, lo cual obviamente no queremos.                                                                                              -->

        <div class = "sideMenuContainer"> <!-- MENU LATERAL -->

            <br>
            <a href = "admin">
                <img id = "unAgendaLabel" src = "{{url_for('static', filename='img/unAgenda1.png')}}" width="100"/>
            </a>

            <br><br>

            <a href = "admin">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/mainmenumini.png')}}" width="100"/>
                </div>
            </a>
            <a href = "schedule">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/scheduleindexmini.png')}}" width="100"/>
                </div>
            </a>
            <a href = "/">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/calculatorindexmini.png')}}" width="100"/>
                </div>
            </a>

        </div>
        <div class = "contentContainer">

            <div class = "titleContainer">

                <br><br>
                <h1 id = "instrucionLabel1">Tu Horario de la Semana</h1>
                <h3 id ="instructionLabel2">Revisa tus eventos semanales programados o<br> añade alguno nuevo: </h3>
                <br><br>

            </div>
            <div class = "buttonsContainer">

                <div class = "button" id = "addButton" onclick="mostrarVentana()">
                    <img id = "addButtonImage" src = "{{url_for('static', filename='img/icons/add_event.png')}}" width="100">
                </div>
                <div class = "button">
                    <img id = "removeButtonImage" src = "{{url_for('static', filename='img/icons/elim_event.png')}}" width="100">
                </div>
                <div class = "button2">
                    <img id = "searchButtonImage" src = "{{url_for('static', filename='img/icons/search.png')}}" width="100">
                </div>
                <div class = "button2">
                    <img id = "captureButtonImage" src = "{{url_for('static', filename='img/icons/capture.png')}}" width="100">
                </div>
                
            </div>
            <div class = "scheduleContainer">

                <table id = "schedule">
                    <tr>
                        <th class = "scheduleHeader">Hora:</th>
                        <th class = "scheduleHeader">LUNES</th>
                        <th class = "scheduleHeader">MARTES</th>
                        <th class = "scheduleHeader">MIÉRCOLES</th>
                        <th class = "scheduleHeader">JUEVES</th>
                        <th class = "scheduleHeader">VIERNES</th>
                        <th class = "scheduleHeader">SÁBADO</th>
                        <th class = "scheduleHeader">DOMINGO</th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">7:00 - 8:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody2">8:00 - 9:00</th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">9:00 - 10:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody2">10:00 - 11:00</th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">11:00 - 12:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody2">12:00 - 13:00</th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">13:00 - 14:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody2">14:00 - 15:00</th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">15:00 - 16:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody2">16:00 - 17:00</th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">17:00 - 18:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody2">18:00 - 19:00</th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                        <td class = "scheduleBody2"></th>
                    </tr>
                    <tr>
                        <td class = "scheduleBody1">19:00 - 20:00</th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                        <td class = "scheduleBody1"></th>
                    </tr>
                </table>
                <br><br><br><br>
            </div>

            

        </div>

        <div class = "addEventWindow" id = "addEventWindow">

            <div id="addEventForm">
                <div id = "formBody">

                    <form>

                        <h2>Agrega un nuevo Evento:</h2>
                        <br>
                        <label for="nombreEvento" style="margin-bottom: 10px;">Nombre del Evento:</label>
                        <br>
                        <input class = "inputText" type="text" id="nombreEvento" aria-describedby="text" name="nombreEvento" required>
                        <br><br><br>
                        <label for="diaSemana" style="margin-bottom: 10px;">Día de la Semana:</label>
                        <select id = "diaSemana" class = "selector">

                            <option value = "1" class = "opcion">Lunes</option>
                            <option value = "2" class = "opcion">Martes</option>
                            <option value = "3" class = "opcion">Miércoles</option>
                            <option value = "4" class = "opcion">Jueves</option>
                            <option value = "5" class = "opcion">Viernes</option>
                            <option value = "6" class = "opcion">Sábado</option>
                            <option value = "7" class = "opcion">Domingo</option>

                        </select>
                        <br><br>
                        <label for="horaInicio" style="margin-bottom: 10px;">Hora de Inicio:</label>
                        <select id = "horaInicio" class = "selector">

                            <option value = "7" class = "opcion">7:00</option>
                            <option value = "8" class = "opcion">8:00</option>
                            <option value = "9" class = "opcion">9:00</option>
                            <option value = "10" class = "opcion">10:00</option>
                            <option value = "11" class = "opcion">11:00</option>
                            <option value = "12" class = "opcion">12:00</option>
                            <option value = "13" class = "opcion">13:00</option>
                            <option value = "14" class = "opcion">14:00</option>
                            <option value = "15" class = "opcion">15:00</option>
                            <option value = "16" class = "opcion">16:00</option>
                            <option value = "17" class = "opcion">17:00</option>
                            <option value = "18" class = "opcion">18:00</option>
                            <option value = "19" class = "opcion">19:00</option>

                        </select>
                        <br><br>
                        <label for="horaFin" style="margin-bottom: 10px;">Hora de Fin:</label>
                        <select id = "horaFin" class = "selector">

                            <option value = "8" class = "opcion">8:00</option>
                            <option value = "9" class = "opcion">9:00</option>
                            <option value = "10" class = "opcion">10:00</option>
                            <option value = "11" class = "opcion">11:00</option>
                            <option value = "12" class = "opcion">12:00</option>
                            <option value = "13" class = "opcion">13:00</option>
                            <option value = "14" class = "opcion">14:00</option>
                            <option value = "15" class = "opcion">15:00</option>
                            <option value = "16" class = "opcion">16:00</option>
                            <option value = "17" class = "opcion">17:00</option>
                            <option value = "18" class = "opcion">18:00</option>
                            <option value = "19" class = "opcion">19:00</option>
                            <option value = "20" class = "opcion">20:00</option>

                        </select>
                        
                        <br><br>


                    </form>

                </div>

                <div id= "addEventWindowButtons">

                    <button id = "formButtonAccept" onclick="crearEvento()">ACEPTAR</button>
                    <button id = "formButtonDecline" onclick="ocultarVentana()">CANCELAR</button>

                </div>

            </div>

        </div>

    </div>

</body>