<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>unAgenda</title>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
      <link rel = "stylesheet" href = "{{url_for('static', filename='styles/menuStyle.css')}}">
      <script src="static/js/gestorMainMenu.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
   </head>
   <body>
      <div class="header">
         <!-- Contiene a todo el código, dado que es el header el que contiene el fondo de pantalla. Si se coloca alguna división después de esta, aparecerá -->
         <!-- debajo del fondo, lo cual obviamente no queremos.                                                                                              -->
         <div class = "menuSideBar">
            <!-- MENU LATERAL -->
            <a href = "admin">
            <img id = "unAgendaLabel" src = "{{url_for('static', filename='img/unAgenda2.png')}}" width="400"/>
            </a>
            <br><br>
            <a href = "admin">
               <div class = "selectedIndexBox">
                  <img class = "iconMenu" src = "{{url_for('static', filename='img/mainmenu.png')}}" width="300"/>
               </div>
            </a>
            <a href = "schedule">
               <div class = "selectedIndexBox">
                  <img class = "iconMenu" src = "{{url_for('static', filename='img/scheduleindex.png')}}" width="300"/>
               </div>
            </a>
            <a href = "calculator">
               <div class = "selectedIndexBox">
                  <img class = "iconMenu" src = "{{url_for('static', filename='img/calculatorindex.png')}}" width="300"/>
               </div>
            </a>
            <a href = "cuaderno">
               <div class = "selectedIndexBox">
                  <img class = "iconMenu" src = "{{url_for('static', filename='img/notebookindex.png')}}" width="300"/>
               </div>
            </a>
            <form action="logout" method="post">
               <button type="submit" style="background-color: #888; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">Cerrar Sesión</button>
           </form>
            
         </div>
         <div class = "nonMenuContent">
            <div class = "welcomeText">
               <br><br>
               <h1 id = "welcomeBackLabel">¡Es bueno verte de nuevo, {{ username }}!</h1>
               <br><br>
            </div>
            <div class = "buttonsArea">
               <h3 id ="instructionLabel">Selecciona una de las opciones a continuación<br> y elige qué actividad deseas hacer: </h3>
               <br>
               <div class = "buttonsFirstRow">
                  <div class = "buttonCalendar">
                     <br>
                     <img id = "calendarImage" src = "{{url_for('static', filename='img/calendar.jpg')}}"/>
                     <br><br>
                     <p>GESTIONAR HORARIO</p>
                     <br><br>
                  </div>
                  <div class = "buttonCalculator">
                     <br>
                     <img id = "calendarImage" src = "{{url_for('static', filename='img/calculator.jpg')}}"/>
                     <br><br>
                     <p>CALCULADORA DE PROMEDIOS</p>
                     <br>
                  </div>
               </div>
               <div class = "buttonsSecondRow">

                  <div class = "buttonNotes">
                     <br>
                     <img id = "calendarImage" src = "{{url_for('static', filename='img/notebook.jpg')}}"/>
                     <br><br>
                     <p>MIS NOTAS</p>
                     <br>
                  </div>
                  
                  

               </div>
            </div>
            <div class = "separator"><p></p></div>
            <div class = "alertsArea">
               <h3 id ="instructionLabel2">Estos son los eventos que tienes programados<br>esta semana: </h3>
               <div id="nearRemindContent" class="nearRemind"></div>
               <script>

                  //ESTE ESPACIO CORRESPONDE AL SCRIPT QUE VA A IR CARGANDO DE MANERA SUCESIVA LOS EVENTOS DEL USUARIO.
                  //
                  //PARA UNA GUÍA DE REFERENCIA, SE PUEDE VER EL CÓDIGO QUE GENERA LOS EVENTOS DEL HORARIO AL PRESIONAR EL BOTÓN DE "BORRAR EVENTO", PUES
                  //SE HACE TAMBIÉN DE MANERA PROCEDURAL.

                  function createRemindElements(remindersList, displayDiv, type) {
                     var j = 0;

                     while (j < remindersList.length) {

                        var dataDiv = document.createElement("div");
                        dataDiv.className = "nearBoxContentDiv";


                        var individualRemindDiv = document.createElement("div");
                        individualRemindDiv.className = "individualRemindDiv";

                        var remindTitle = document.createElement("h3");
                        remindTitle.id = j + "evento";

                        var spanDiv = document.createElement("div");
                        spanDiv.className = "spanDiv";

                        var remindDetailsDay = document.createElement("span");
                        remindDetailsDay.className = "nearBoxRemindDetails custom-span";
                        remindDetailsDay.id = j + "dia";

                        var remindDetailsBegin = document.createElement("span");
                        remindDetailsBegin.className = "nearBoxRemindDetails custom-span";
                        remindDetailsBegin.id = j + "hora";

                        var remindDetailsBeginMin = document.createElement("span");
                        remindDetailsBeginMin.className = "nearBoxRemindDetails custom-span";
                        remindDetailsBeginMin.id = j + "minutos";

                        createRemindGUI(remindTitle, remindDetailsDay, remindDetailsBegin, remindDetailsBeginMin, remindersList, j, type);

                        individualRemindDiv.appendChild(remindTitle);
                        spanDiv.appendChild(remindDetailsDay);
                        spanDiv.appendChild(remindDetailsBegin);
                        spanDiv.appendChild(remindDetailsBeginMin);
                        individualRemindDiv.appendChild(spanDiv);

                        dataDiv.appendChild(individualRemindDiv);

                        displayDiv.appendChild(dataDiv);

                        j++;

                     }
                  }
                  function displayRecordatorios() {

                        var displayDiv = document.createElement("div");
                        displayDiv.className = "nearBoxRemindDiv";
                        displayDiv.id = "showFullContent";

                        var nearRemindContent = document.getElementById("nearRemindContent");
                        nearRemindContent.appendChild(displayDiv);

                        var todayReminders = JSON.parse('{{ todayReminders | tojson | safe }}');
                        var tomorrowReminders = JSON.parse('{{ tomorrowReminders | tojson | safe }}');
                        var otherReminders = JSON.parse('{{ otherReminders | tojson | safe }}');
                        
                        createRemindElements(todayReminders, displayDiv, "today");
                        createRemindElements(tomorrowReminders, displayDiv, "tomorrow");
                        createRemindElements(otherReminders, displayDiv, "other");
                     }

                     document.addEventListener("DOMContentLoaded", function(event) {
                        displayRecordatorios();
                     });
               </script>

               <div class = "lastAlertBox">

                  <p>No tiene más eventos programados para esta semana...</p>
                  
               </div>
               <div class="alertsButtons">
               
                  <h4 id="newAlert">AGREGAR RECORDATORIO +</h4>
                  <h4 id="deleteAlert">QUITAR RECORDATORIO -</h4>
               
               </div>
               <br><br>
               <h4 id = "seeAlerts" onclick="mostrarVentana()">VER TODOS LOS EVENTOS</h4>

            </div>
         </div>
         <div class="seeEventsWindow" id="seeEventsWindow">
            <div id = "seeEventsContent">
               <h3>Eventos Programados</h3>
               <br>
               <div id="eventsList">
                  <script>

                     //CARGAR LOS DATOS DE LA BASE DE DATOS
                     var currentTimeList = JSON.parse('{{ currentTimeList | tojson | safe }}');
                     var nombreRecordatorioList = JSON.parse('{{ nombreRecordatorioList | tojson | safe }}');
                     var yearList = JSON.parse('{{ yearList | tojson | safe }}');
                     var monthList = JSON.parse('{{ monthList | tojson | safe }}');
                     var dayList = JSON.parse('{{ dayList | tojson | safe }}');
                     var hourList = JSON.parse('{{ hourList | tojson | safe }}');
                     var minuteList = JSON.parse('{{ minuteList | tojson | safe }}');
                     cargarEventos(nombreRecordatorioList, yearList, monthList, dayList, hourList, minuteList);

                  </script>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>

<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{url_for('static', filename='assets/js/black-dashboard.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/black-dashboard.css')}}">
</head>
<body class="">

    <div class="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="main-panel">
             <div class="content">
               <h3>¡Es bueno verte de nuevo, {{ username }}!</h3>
               <h5 id ="instructionLabel">Selecciona una de las opciones a continuación<br> y elige qué actividad deseas hacer: </h5>
                 <div class="row">
                     <div class="col-lg-4">
                         <div class="card card-chart">
                             <div class="card-header">
                                 <h4> Gestor de horarios</h4>
                             </div>
                             <div class="card-body">
                                 <div class="chart-area">
                                    <img id = "calendarImage" src = "{{url_for('static', filename='img/calendar.jpg')}}"/>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="card card-chart">
                             <div class="card-header">
                                 <h4> Calculadora de promedios</h4>
                             </div>
                             <div class="card-body">
                                 <div class="chart-area">
                                    <img id = "calendarImage" src = "{{url_for('static', filename='img/calculator.jpg')}}"/>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
         <script>
             $(document).ready(function () {
                 // Javascript method's body can be found in assets/js/demos.js
                 demo.initDashboardPageCharts();

             });
         </script>
      </body>
</html> -->
