<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuaderno</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/cuaderno.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/cuaderno-dark.css')}}" id="dark-stylesheet" disabled>
    <script src="https://cdn.tiny.cloud/1/cyo40kyuazintmua0qe935k28ieyfp6y2rxnqthey7zgklrw/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
</head>
<body>
    <div class="header">
        <div class = "sideMenuContainer"> <!-- MENU LATERAL -->

            <br>
            <a href = "admin">
                <img id = "unAgendaLabel" src = "{{url_for('static', filename='img/unAgenda1.png')}}" width="100"/>
            </a>

            <br><br>

            <a href = "admin">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/mainmenumini.png')}}" width="100"/>
                </div>
            </a>
            <a href = "schedule">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/scheduleindexmini.png')}}" width="100"/>
                </div>
            </a>
            <a href = "calculator">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/calculatorindexmini.png')}}" width="100"/>
                </div>
            </a>
            <a href = "cuaderno">
                <div class = "iconBox">
                    <img class = "iconImage" src = "{{url_for('static', filename='img/notebookmini.png')}}" width="100"/>
                </div>
            </a>

        </div>
        
        <div class="notebook">
            <form method="post">
                <textarea id="mytextarea"></textarea>
            </form>
            
                <div class="justify">
                     <div class="buttons">
                       <button class="btn btn-cambiar">Cambiar cuaderno</button>
                       <button class="btn btn-guardar">Guardar cuaderno</button>
                       <!-- <textarea id="mytextarea"></textarea> -->
                       <button type="button" id="toggleDarkMode">Cambiar Modo</button>
            
                    

                    </div>
                </div>    
         </div>
    </div>
    
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let isDarkMode = false;
            let editor;
            let darkStylesheet = document.getElementById('dark-stylesheet');

            function toggleDarkMode() {
                isDarkMode = !isDarkMode;

                if (editor) {
                    editor.destroy();
                }
                

                if (isDarkMode) {
                    
                    darkStylesheet.disabled = false;

                    tinymce.init({
                        selector: '#mytextarea',
                        height: "100%",
                        skin: 'oxide-dark',
                        toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify | fontfamily fontsizeinput fontsize forecolor | link image',
                        content_css: "{{url_for('static', filename='styles/cuaderno-dark.css')}}"
                    });
                } 

                
                
                else {



                    darkStylesheet.disabled = true;
                }    

                    
                tinymce.init({
                selector: '#mytextarea',
                height: "100%",
                toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify | fontfamily fontsizeinput fontsize forecolor | link image',
                setup: function(editorInstance) {
                    editor = editorInstance;
                }
            });
            }

            document.getElementById('toggleDarkMode').addEventListener('click', toggleDarkMode);

            tinymce.init({
                selector: '#mytextarea',
                height: "100%",
                toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify | fontfamily fontsizeinput fontsize forecolor | link image',
                setup: function(editorInstance) {
                    editor = editorInstance;
                }
            });
            
        });
    </script>
</body>
</html>
