/* dark.css */

/* Fondo del área de edición */
.mce-content-body {
    background-color: #333; /* Cambia el color de fondo a tu elección */
    color: #fff; /* Cambia el color del texto a tu elección */
}

/* Barra de herramientas en modo oscuro */
.mce-toolbar-grp {
    background-color: #444; /* Cambia el color de fondo a tu elección */
    color: #fff; /* Cambia el color del texto a tu elección */
}

/* Estilos para los botones de la barra de herramientas en modo oscuro */
.mce-btn {
    background-color: #666; /* Cambia el color de fondo a tu elección */
    color: #fff; /* Cambia el color del texto a tu elección */
    border: 1px solid #444; /* Cambia el color del borde a tu elección */
}

/* Estilos para los botones de la barra de herramientas en modo oscuro al pasar el mouse */
.mce-btn:hover {
    background-color: #888; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color del texto al pasar el mouse */
    border: 1px solid #666; /* Cambia el color del borde al pasar el mouse */
}

/* Estilos para el fondo detrás del título "Modo Oscuro" */
.mode-label {
    background-color: #333; /* Cambia el color de fondo a tu elección */
    color: #fff; /* Cambia el color del texto a tu elección */
    padding: 5px 10px; /* Ajusta el espacio alrededor del texto */
    border-radius: 5px; /* Hace que el fondo sea ligeramente redondeado */
}

/* Estilos para el interruptor en modo claro */
.switch-container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

/* Estilos para el interruptor en modo oscuro */
.dark-mode .slider {
    background-color: #333;
}

.dark-mode .slider:before {
    background-color: #ccc;
}

/* Etiqueta del modo */
.mode-label {
    margin-left: 10px;
}

/* Cambio de estilo cuando el interruptor está activado */
.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
