* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* CONFIGURACIÓN DEL CONTENEDOR DE TODO */

.mainContainer {

    background-image: url(/static/img/background.png);
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;

}

/* CONFIGURACIÓN DEL MENÚ LATERAL Y DE SUS COMPONENTES */

.sideMenuContainer {

    background-color: rgba(169, 169, 169, .5);

    width: 10%;
    height: 100%;

    max-height: 100vh;

    float: left;
    text-align: center;
    overflow-y: auto;

}

#unAgendaLabel {

    max-width: 100%;
    max-height: 100%;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;

}

.iconBox {

    max-height: 100%;

    width: 80%;
    margin-right: 10%;
    margin-left: 10%;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 10px;

    transition: background-color 0.3s ease;

}

.iconBox:hover {

    background-color: rgba(0, 0, 0, 0.2);

}

.iconImage {


    max-width: 100%;
    max-height: 100%;


}

/* CONFIGURACIÓN DEL CONTENEDOR PRINCIPAL */

.contentContainer {

    width: 90%;
    height: 100%;

    max-height: 100vh;

    float: right;
    text-align: center;
    position: relative;
}

/* CONFIGURACIÓN DEL ENUNCIADO DE LA PÁGINA */

.titleContainer {

    color: white;
    text-align: center;

    max-height: 30%;

    overflow: hidden;

}

/* CONFIGURACIÓN DE LOS BOTONES DE LA PÁGINA */

.buttonsContainer {

    height: 10%;
    max-height: 10%;

    width: 100%;
    max-width: 100%;

    text-align: center;
    margin: 0 auto;

}

.button {


    width: 12%;
    height: 100%;

    max-width: 15%;
    max-height: 100%;

    margin-left: 2%;
    margin-right: 2%;

    padding: 0.5rem;

    border-radius: 50px;
    transition: box-shadow 0.3s ease;

    text-align: center;

    float: left;

}

.button2 {


    width: 12%;
    height: 100%;

    max-width: 15%;
    max-height: 100%;

    margin-left: 2%;
    margin-right: 2%;

    padding: 0.5rem;

    border-radius: 50px;
    transition: box-shadow 0.3s ease;

    text-align: center;

    float: right;

}

.button:hover {

    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
    cursor: pointer;

}

.button2:hover {

    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
    cursor: pointer;

}

#addButtonImage {

    max-height: 100%;
    max-width: 30%;

}


#removeButtonImage {

    max-height: 100%;
    max-width: 30%;

}

#captureButtonImage {

    max-height: 100%;
    max-width: 30%;

}

#searchButtonImage {

    max-height: 100%;
    max-width: 30%;

}

/* CONFIGURACIÓN DE LA TABLA Y SUS PROPIEDADES */

.scheduleContainer {


    width: 100%;
    height: 60%;


    max-width: 100%;
    max-height: 60%;

    padding-top: 1rem;
    padding-left: 1.7rem;
    padding-bottom: 0.5rem;
    overflow-y: auto;



}

#schedule {

    margin: 0 auto;

}

.scheduleHeader {

    background-color: rgb(136, 123, 123);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;

    width: 10rem;
    max-width: 10rem;

}

.scheduleBody1 {

    background-color: rgb(70, 70, 70);
    color: white;
    padding: 0.5rem;

    width: 10rem;
    max-width: 10rem;

}

.scheduleBody2 {

    background-color: rgb(82, 82, 82);
    color: white;
    padding: 0.5rem;

    width: 10rem;
    max-width: 10rem;

}

.addEventWindow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#addEventForm {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputText {

    background: rgb(219, 219, 219);
    width: 80%;
    height: 2.5rem;

    border-radius: 10px;
    border: none;

    text-align: center;

}

.selector {

    width: 40%;
    height: 2.5rem;
    border-radius: 10px;

}

#formButtonAccept {

    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 10px;
    background-color: rgb(114, 218, 157);



}

#formButtonDecline {

    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 10px;
    background-color: rgb(204, 137, 132);

    float: right;

}

.removeEventWindow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#removeEventContent {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.removeBoxEventDiv {

    overflow-y: auto;
    height: 25rem;
    max-height: 25rem;

}

.removeBoxContentDiv {

    text-align: left;
    padding: 1rem;
    width: 100%;

}

.individualEventDiv {
    width: 80%;
    float: left;
    padding: 0.5rem;

}

.removeBoxEventDetails {

    font-style: italic;
    color: darkgray;

}

.removeButton {

    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 10px;
    background-color: rgb(204, 137, 132);

    float: left;

}

.acceptButton {

    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 10px;
    background-color: rgb(163, 218, 163);

    float: right;

}

.editButton {

    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 10px;
    background-color: rgb(255, 198, 132);

    float: left;

}

.editButton:hover {

    cursor: pointer;

}

.removeButton:hover {

    cursor: pointer;

}

.acceptButton:hover {

    cursor: pointer;

}



.editEventWindow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#editEventContent {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.editBoxEventDiv {

    overflow-y: auto;
    height: 25rem;
    max-height: 25rem;

}

.editBoxContentDiv {

    text-align: left;
    padding: 1rem;
    width: 100%;

}

.editBoxEventDetails {

    font-style: italic;
    color: darkgray;

}

/* ESTILO PARA LA VENTANA DE DESCARGAR HORARIO */
.downloadEventWindow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.downloadEventContent {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    text-align: center;
}
#textHeader {
    display: flex;
    text-align: center;
    justify-content: center;
}

#textHeader h2 {
    margin-right: 15px;
    margin-left: 40px
}

#textHeader img {
    margin-left: 10px;
}

#downBtn,
#cerrarDownBtn {
    cursor: pointer;
}

.tabla-duplicada {
    height: 100%;
    width: 100%;
}

.tabla-duplicada table {
    width: 100%;
    transform: scale(0.45);
    transform-origin: 0 0;
    margin-left: 24%;
}

